.triangle{
    background-color: papayawhip;
    height: 500px;
    
    display: grid;
    place-items: center;
    
}

.formtriangle{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 10px;

}